body {
    background-color: rgb(41, 41, 41);
    font-family: "Lato", sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.5 !important;
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_perfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-left: 65%
}

.alinhar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.alinhar h1 {
    margin-left: 9%;
}

.titulo_conteudo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}


.apresentacao {
    display:grid;
   grid-template-columns: auto auto auto;
   align-items: center;
   gap: 10px;
   padding: 10px;
   width: 100%;
   height: 250px !important; 
   background-color: #351450 !important;
   margin-bottom: 30px;
}

.apresentacao p, h1 {
    margin-left: 100px;
}

.botão_download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    background-color: rgb(255, 255, 255);
    color: #351450;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
}

.currículo {
   display:grid;
   grid-template-columns: 1fr 2fr;
   gap: 10px;
   padding: 10px;
   width: 90%;
   height: auto;
   border-radius: 15px;
   margin-top: 10px;
   box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
   margin-bottom: 30px;
   background-color: #323232;
}

.currículo ul {
    list-style-type: none;
}

.projetos {
    display:grid;
   grid-template-columns: 1fr;
   gap: 10px;
   padding: 10px;
   width: 90%;
   height: auto;
   border-radius: 15px;
   margin-top: 10px;
   box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
   margin-bottom: 30px;
   background-color: #323232;
}

h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #fff
}

.certficados_contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
    width: 90%;
    height: auto;
   margin-top: 10px;
   margin-bottom: 30px;
}

.certificados_box, 
.contato_box {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    background-color: #323232;
}

.certificados_box ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.contato_box img {
    margin-right: 11px;
}

.contato_link {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.contato_link p {
    margin-top: 7px;
}

.carousel-control-prev, .carousel-control-next {
    top: 50% !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}

.carousel-control-prev {
    left: 220px !important;
    right: auto !important;
  }
  
  .carousel-control-next {
    right: 220px !important;
    left: auto !important;
  }

.carousel img {
    margin: 0 auto;
    display: block;
    max-height: 450px;
    max-width: 65%;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media screen and (max-width:1600px) {
    .alinhar h1 {
        margin-left: 80px !important;
        text-align: center;    
        padding: 10px;
      }

      .carousel-control-prev {
        left: 170px !important;
        right: auto !important;
      }
      
      .carousel-control-next {
        right: 170px !important;
        left: auto !important;
      }

@media screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }

    h1, h2, h3, h4 {
        font-size: 22px;

    }

    br {
    display: none;
    }

    .foto_perfil {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        min-height: 320px;
        max-width: 900px;
    }

    .botão_download {
        margin-top: 5px;
        margin-left: 0;
        align-self: center;
        width: 160px;
    }

    .apresentacao h1 {
        margin: 0 !important;
        padding: 0;
        width: 100%;
        text-align: center;
        list-style: none;
    }

    .apresentacao p {
        margin: 10px;
        text-align: justify;
    }

    .projetos ul {
        margin-top: 15px;    
    }

    .carousel img {
        max-width: 100%;
        max-height: 400px;
    }

    .certficados_contato {
        grid-template-columns: 1fr;
    }

    .carousel-control-next {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }

}

}

