.apresentacao {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 10px;
}
